.message-bubble {
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 25px;
  margin: 5px 0;
  max-width: 80%;
  word-wrap: break-word;
  display: inline-block;
  box-sizing: border-box;
}

.bg-senderBubble {
  background-color: #8417ff1a;
}

.text-senderText {
  color: #ffffff;
}

.border-senderBorder {
  border-color: #5A00EE;
}

.bg-receiverBubble {
  background-color: #2a2b331a;
}

.text-receiverText {
  color: white;
}

.border-receiverBorder {
  border-color: #ffffff33;
}

.message-container {
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  max-width: 100%;
}

.delete-icon {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.message-container:hover .delete-icon {
  opacity: 1;
}

.post-image,
.post-video {
  max-width: 100%;
  height: auto;
}

.typing-indicator {
  color: white;
  font-size: 16px;
  margin-top: 10px;
  text-align: center; /* Center the typing indicator */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .message-bubble {
    max-width: 90%;
    padding: 8px 16px;
  }

  .delete-icon {
    right: -15px;
  }

  .typing-indicator {
    font-size: 14px; /* Slightly smaller font for smaller devices */
  }
}

@media (max-width: 480px) {
  .message-bubble {
    max-width: 95%;
    padding: 6px 12px;
  }

  .delete-icon {
    right: -10px;
  }

  .typing-indicator {
    font-size: 12px; /* Further reduce font size for very small devices */
  }
}
